<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182607961243-fitc96g9e3msa73gf7j0icouo5krm4i8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182607961243-fitc96g9e3msa73gf7j0icouo5krm4i8</string>
	<key>API_KEY</key>
	<string>AIzaSyC7gx46jAHTnGXzbBkR6F1l-JxrIZe87Fw</string>
	<key>GCM_SENDER_ID</key>
	<string>182607961243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.deltapps.mentory</string>
	<key>PROJECT_ID</key>
	<string>mentory-c64da</string>
	<key>STORAGE_BUCKET</key>
	<string>mentory-c64da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182607961243:ios:6eb8584123b977df623a3e</string>
	<key>DATABASE_URL</key>
	<string>https://mentory-c64da.firebaseio.com</string>
</dict>
</plist>